<%- include('partials/header') %>
  <!-- import dependencies -->
  <main>
    <!-- import boostrap 5.0.0-alpha1 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      rel="stylesheet">
    <!-- import bootstrap 5.0.0-alpha1 javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/restaurantThumbnail.css">
    <link rel="stylesheet" href="/style/restaurantCard.css">

  </main>
  <!-- start landing page layout  -->
  <div class="container mb-2" id="welcome">
    <% if (typeof user !=='undefined' ) { %>
      <h2 class="mb-3">Welcome Back, <span class="text-capitalize"> <%= user.name %></span>
      </h2>
      <!-- Filter Restaurants Accordion -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button id="acc-color" class="text-uppercase accordion-button <%- menuOpen ? 'collapsed':''%> d-block text-center" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Get Started
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse <%- menuOpen? 'show':'' %>" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%- include ('filterRestaurants', {embedded: true})%>
            </div>
          </div>
        </div>
      </div>
      <% } else { %>
        <div class="we-are-block">
          <div id="restaurant-section">
            <div class="restaurant-image">
                <img src="/images/site_resources/restaurant02.jpg" width="951" height="471" alt="Plate Picture">
            </div>
            <div class="restaurant-info">
                <h2 id="pageHeaderTitle">Looking for a restaurant?</h2>
                <p>Discover exceptional dining experiences with TableTrek! Our extensive database of top-rated
                    restaurants, curated by
                    passionate food connoisseurs, allows you to effortlessly navigate through a realm of gastronomic
                    adventures. Empowering
                    you with comprehensive information, including expert reviews, menus, reservations, and exclusive
                    tips, TableTrek unlocks
                    a world of extraordinary flavors. Join us on this culinary expedition today!</p>
                <a href="/login" class="restaurant-info-button">Get Started</a>
            </div>
          </div>
        </div>
        <% } %>
  </div>
  <% if (typeof user !=='undefined') { %>
    <div class="container mt-5 mb-3">
      <h4>Featured Restaurants:</h4>
    </div>
    <!-- Featured restaurant carousel shows when logged in-->
    <div class="container">
      <div id="carouselExampleCaptions" class="carousel slide restaurantCarousel" data-bs-ride="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% for (i=0; i < featuredRestaurant.length; i++) { %>
            <div class="carousel-item <%- i === 0? 'active': '' %>">
              <a href="/restaurant/<%= featuredRestaurant[i]._id %>"><img src="<%= featuredRestaurant[i].ImgUrl %>"
                  class="d-block w-100" alt="restaurantImage" id="restaurantImg"></a>
              <div class="carousel-caption">
                <h5>
                  <%= featuredRestaurant[i].Name %>
                </h5>
                <p>
                  <%= featuredRestaurant[i].Cuisine %>
                </p>
                <p>
                  <%= featuredRestaurant[i].Award %>
                </p>
              </div>
            </div>
            <% } %>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>
      </div>
    </div>
    <% } %>
  <!-- Only shows history if user is logged in -->
  <% if (typeof user !=='undefined' ) { %>
    <% if (restaurantHistory.length> 0) { %>
      <div class="container">
      <h4 class="mt-5 mb-3">Previously Viewed Restaurants:</h4>
      <% for (i=0; i < Math.min(3, restaurantHistory.length); i++) { %>
        <!-- Restaurant history card slide -->
        <article class="postcard light red">
          <a class="postcard__img_link" href="restaurant/<%=restaurantHistory[i]._doc._id%>">
            <img class="postcard__img" src="<%=restaurantHistory[i]._doc.ImgUrl%>" alt="<%=restaurantHistory[i]._doc.Name%>" />
          </a>
          <div class="postcard__text t-dark">
            <h1 class="postcard__title red"><a href="restaurant/<%=restaurantHistory[i]._doc._id%>" class="postcard_title">
                <%=restaurantHistory[i]._doc.Name%>
              </a></h1>
            <div class="postcard__subtitle small">
              <%=restaurantHistory[i]._doc.Address%>
            </div>
            <div class="postcard__bar"></div>
        </article>
          <% } %>
      </div>
      <% } %>
        <% } %>
          <%- include('partials/footer') %>