<%- include('partials/header') %>
  <!-- import dependencies -->
  <main>
    <!-- import boostrap 5.0.0-alpha1 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      rel="stylesheet">
    <!-- import bootstrap 5.0.0-alpha1 javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

  </main>
  <!-- start landing page layout  -->
  <div class="container mb-2" id="welcome">
    <% if (user) { %>
      <h2>Welcome back, <%= user.name %>
      </h2>
      <!-- Filter Restaurants Accordion -->
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Get Started
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <%- include ('filterRestaurants')%>
            </div>
          </div>
        </div>
      </div>


      <% } else { %>
        <h2>Welcome to TableTrek!</h2>
        <% } %>
  </div>

  <div class="container mt-5">
    <h4>Featured Restaurants:</h4>
  </div>
  <!-- Featured restaurant carousel -->
  <div id="carouselExampleCaptions" class="carousel slide px-4" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./images/site_resources/restaurant01.jpg" class="d-block w-100" alt="imageOne">
        <div class="carousel-caption">
          <h5>Restaurant 1</h5>
          <p>Insert cuisine type & rating.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./images/site_resources/restaurant02.jpg" class="d-block w-100" alt="imageTwo">
        <div class="carousel-caption">
          <h5>Restaurant 2</h5>
          <p>Insert cuisine type & rating.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./images/site_resources/restaurant03.jpg" class="d-block w-100" alt="imageThree">
        <div class="carousel-caption">
          <h5>Restaurant 3</h5>
          <p>Insert cuisine type & rating.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container d-flex justify-content-end mr-3">
        <a href="#" class="btn-sm btn-primary mt-3" style="text-decoration: none">More</a>
  </div>

  <!-- Only shows history if user is logged in -->
  <% if (user) { %>
  <% if (restaurantHistory.length > 0) { %>
    <!-- Restaurant history card slide -->
    <div class="container mt-5">
      <h4>Previously Viewed Restaurants:</h4>
    </div>
    <div id="previousRestaurants" class="carousel slide px-4" data-bs-ride="false">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#previousRestaurants" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#previousRestaurants" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#previousRestaurants" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <% for (i=0; i < Math.min(3, restaurantHistory.length); i++) { %>
          <div class="carousel-item <%= i === 0? 'active': '' %>">
            <a href="/restaurant/<%= restaurantHistory[i]._id %>">
              <img src="<%= restaurantHistory[i].ImgUrl %>" class="d-block w-100" alt="restaurant image">
            </a>
            <div class="carousel-caption">
              <h5>
                <%= restaurantHistory[i].Name %>
              </h5>
              <p>
                <%= restaurantHistory[i].Cuisine %>
              </p>
            </div>
          </div>
          <% } %>
        </div>
        <button class="carousel-control-prev history" type="button" data-bs-target="#previousRestaurants"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next history" type="button" data-bs-target="#previousRestaurants"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <% } %>

    <% } %>
      <%- include('partials/footer') %>