<link rel="stylesheet" href="style/myReviews.css" />
<link rel="stylesheet" href="/style/restaurantThumbnail.css">
<link rel="stylesheet" href="/style/restaurantCard.css">
<%- include('partials/header.ejs') %>
    <%- include("svgIcons") %>

        <div class="container">
            <h2 class="text-center">My Reviews</h2>
            <% reviews.forEach(review=> { %>
                <article class="postcard light red">
                    <% imageOneUrl=review.image01Buffer ? "data:" + review.image01Type + ";base64, " +
                        review.image01Buffer.toString('base64') : undefined; %>
                        <% if (typeof imageOneUrl !=='undefined' ) {%>
                            <a class="postcard__img_link">
                                <img class="postcard__img" src="<%= imageOneUrl %>" alt="">
                            </a>
                        <% } else {%>
                            <a class="postcard__img_link">
                                <svg class="postcard__img" width="250" height="250">
                                    <use xlink:href="#no-image"></use>
                                </svg>
                            </a>
                        <% } %>
                        <div class="postcard__text t-dark">
                            <h1 class="postcard__title red"><a href="">
                                    <%= review.reviewTitle %>
                                </a></h1>
                            <div class="postcard__subtitle small">
                                <%=review.restaurantID%>
                            </div>
                            <div class="postcard__bar"></div>
                            <div class="postcard__preview-txt">
                                <%= review.reviewBody %>
                            </div>
                            <ul class="postcard__tagbox">
                                <% if (review.positiveTag) { %>
                                <li class="tag__item bg-success text-white">
                                    <%=review.positiveTag%>
                                </li>
                                <% } %>
                                <% if (review.negativeTag) { %>
                                    <li class="tag__item bg-danger text-white">
                                        <%=review.negativeTag%>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                </article>
                <% }) %>
                <script src="script/myReviews.js"></script>
                <%- include('partials/footer.ejs') %>