<%- include('partials/header') %>
  <%- include('partials/restaurantFunctions') %>
    <link rel="stylesheet" href="/style/restaurant.css">
    <link rel="stylesheet" href="style/myReviews.css" />
    <link rel="stylesheet" href="/style/restaurantThumbnail.css">
    <link rel="stylesheet" href="/style/restaurantCard.css">
    <script src="/script/restaurant.js"></script>
    <%- include("svgIcons") %>

      <script>
        $("#directionsButton").on("load", updateDirections('<%= restaurant.Latitude %>', '<%= restaurant.Longitude %>'))
      </script>

      <div class="container">
        <div class="row mt-3">
          <div class="col">
            <div id="restaurantName">
              <h1>
                <%= locals.restaurant.Name ? restaurant.Name : "Restaurant name not available" %>
              </h1>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div id="restaurantImg">
              <% if (locals.restaurant.ImgUrl) { %>
                <img src="<%= restaurant.ImgUrl %>" class="img-fluid" alt="<%= restaurant.Name %>" <% } else { %> Image
                not available <% } %>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col" id="restaurantDetails">
              <div id="starRating">
                <%= locals.restaurant.Award ? createStarRating(restaurant.Award) : "Michelin rating not available" %>
              </div>
              <div id="priceRating">
                <%= locals.restaurant.Price ? restaurant.Price : "Price rating not available" %>
              </div>
              <div id="cuisineType">
                <%= locals.restaurant.Cuisine ? restaurant.Cuisine : "Cuisine type not available" %>
              </div>
              <div id="restaurantPhone">
                <% if (locals.restaurant.PhoneNumber) { %>
                  Phone: <a href="tel:<%= restaurant.PhoneNumber %>">
                    <%= restaurant.PhoneNumber %>
                  </a>
                  <% } else { %>
                    Phone number not available
                    <% } %>
              </div>
              <div id="listingPage">
                <% if (locals.restaurant.Url) { %>
                  <a target="_blank" href="<%= restaurant.Url %>">Visit Michelin listing</a>
                  <% } else { %>
                    Michelin listing not available
                    <% } %>
              </div>
            </div>
            <div class="col">
              <div id="restaurantInfo">
                <div id="openHours">
                  <% if (locals.restaurant.OpenHours) { %>
                    <p>Open today from:<br />
                      <!-- <%= restaurant.OpenHours %> -->
                      <%= JSON.parse(restaurant.OpenHours)[String(new Date().getDay())] %>
                        <% } else { %>
                          Hours not available
                    </p>
                    <% } %>
                </div>
                <div id="address">
                  <% if (locals.restaurant.Address) { %>
                    <%= restaurant.Address %>
                      <% } else { %>
                        Address not available
                        </p>
                        <% } %>
                </div>
                <div id="map">
                  <% if (locals.restaurant.Longitude && locals.restaurant.Latitude) { %>
                    <iframe id="mapFrame" height="125" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                      src="https://www.openstreetmap.org/export/embed.html?bbox=<%= restaurant.Longitude %>%2C<%= restaurant.Latitude %>%2C<%= restaurant.Longitude %>%2C<%= restaurant.Latitude %>&amp;layer=mapnik&amp;marker=<%= restaurant.Latitude %>%2C<%= restaurant.Longitude %>"></iframe>
                    <% } else { %>
                      Map not available
                      <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3" id="buttonContainers">
            <div class="col" id="restaurantWebsiteContainer">
              <div id="restaurantWebsite">
                <% if (locals.restaurant.WebsiteUrl) { %>
                  <a target="_blank" href="<%= restaurant.WebsiteUrl %>"><button class="btn btn-primary w-100">Visit
                      website</button></a>
                  <% } else { %>
                    <button class="btn btn-secondary w-100" disabled>Website not available</button>
                    <% } %>
              </div>
            </div>
            <div class="col">
              <div id="directionsButtonContainer">
                <div id="directionsButton">
                  <% if (locals.restaurant.Longitude && locals.restaurant.Latitude && userLatitude && userLongitude) {
                    %>
                    <a target="_blank"
                      href="https://www.openstreetmap.org/directions?from=&to=<%= restaurant.Latitude %>%2C<%= restaurant.Longitude %>#map=12/<%= restaurant.Latitude %>/<%= restaurant.Longitude %>"><button
                        class="btn btn-primary w-100">Directions</button></a>
                    <% } else { %>
                      <button class="btn btn-secondary w-100" disabled>Directions not available</button>
                      <% } %>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col">
              <div id="reviewButton"><a href="/writeReview/<%=restaurant._id.toString()%>"><button
                    class="btn btn-primary">Write a
                    Review</button></a></div>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div class="col">
              <h3>Latest Reviews</h3>
              <% if (reviews.length !==0) { %>
                <%- include('partials/restaurantReviews') %>
                  <% } else { %>
                    <h6 class=""><em>No reviews available yet! Be the first to write one!</em></h6>
                    <% } %>
            </div>
          </div>
        </div>
      </div>
      </div>

      <%- include('partials/footer') %>