<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/style/writeReview.css">
    <link rel="stylesheet" href="/style/buttons.css">
    <div class="container mb-4">
        <div>
            <h1 class="mt-2">Write a review</h1>
        </div>
        <label class="mb-3 mt-4" style="display: block">You are reviewing a <h6 style="display: inline-block">
                <%= restaurant.Award ? restaurant.Award : "Rating not available" %>
            </h6> restaurant: <h6>
                <%= restaurant.Name ? restaurant.Name : "Restaurant name not available" %>
            </h6></label>
        <div>
            <input type="hidden" id="restaurantID" value="<%= restaurant._id %>">
            <input type="hidden" id="userID" value="<%= user._id %>">
            <input type="text" id="reviewTitle" placeholder="Review Title" class="mb-3 w-100 px-2"
                value="<%= typeof generatedReview !=='undefined' ? generatedReview.reviewTitle : '' %>">
            <div class="d-flex justify-content-between align-items-end mb-2">
                <span>Review Content</span>
                <a href="/SmartReview/<%= restaurant._id %>" class="btn-sm w-12" id="AIGenerate" style="background-color: #17b48d; color: white!important; text-decoration: none!important;">Smart
                    Review</a>
            </div>
            <div>

                <textarea class="form-control mt-1 mb-3 posting-content" rows="4"
                    placeholder="Share your experience with us!"
                    id="reviewBody"><%= typeof generatedReview !=='undefined' ? generatedReview.reviewContent : '' %></textarea>
            </div>
            <div id="drop-area" class="py-5">
                <h4>Drop images here, or click below!</h4>
                <button class="btn btn-primary w-30" id="uploadButton">Upload Images</button>
            </div>
            <h5 id="photoUplaodText" class="d-none mt-3 inline">Photos to be uploaded:</h5>
            <button class="btn btn-danger w-35 d-none" id="removeAllImages">Remove All Images</button>
            <div id="pendingUploadImages" class="d-flex flex-row flex-wrap">
            </div>
            <div class="btn-danger text-center rounded py-1 d-none mt-3" id="errorMessage"></div>
            <button class="button w-100 mt-5" id="submitButton" type="submit" onclick="uploadReviews()">
                <span>Submit Review</span>
                <svg viewBox="0 0 15 13">
                    <polyline points="2 6.5 6 10.5 13 2.5"></polyline>
                </svg>
            </button>
        </div>
    </div>
    <div class="modal-backdrop fade show d-none" id="backdrop"></div>
    <script src="/script/writeReview.js"></script>
    <%- include('partials/footer.ejs') %>