<% if (user) { %>
    <% if (link.link===currentURL) { %>
        <li class="nav-item">
            <a href="<%= link.link %>" class="nav-link footer-link active-nav-item">
                <i class="<%= link.icon %>"></i>
                <div class="item-label">
                    <%=link.name%>
                </div>
            </a>
        </li>
        <% } else { %>
            <li class="nav-item">
                <a href="<%= link.link %>" class="nav-link footer-link">
                    <i class="<%= link.icon %>"></i>
                    <div class="item-label">
                        <%=link.name%>
                    </div>
                </a>
            </li>
            <% } %>
                <% } %>