<li class="nav-item">
    <!-- Highlight current active page for user in menu -->
    <% if (link.link===currentURL) { %>
        <a href="<%= link.link %>" class="nav-link active" aria-current="page">
            <i class="<%=link.icon%>"></i>
            <%= link.name %>
        </a>
        <% } else { %>
            <a href="<%= link.link %>" class="nav-link">
                <i class="<%=link.icon%>"></i>
                <%= link.name %>
            </a>
</li>
<% } %>