<link rel="stylesheet" href="/style/restaurantThumbnail.css">
<link rel="stylesheet" href="/style/restaurantCard.css">

<%- include('restaurantFunctions') %>
  <% if (restaurant._doc._id !="646562b76644f1aa93bc2ba2" ) { %>
    <article class="postcard light red">
      <a class="postcard__img_link" href="restaurant/<%=restaurant._doc._id%>">
        <img class="postcard__img" src="<%=restaurant._doc.ImgUrl%>" alt="<%=restaurant._doc.Name%>" />
      </a>
      <div class="postcard__text t-dark">
        <h1 class="postcard__title red"><a href="restaurant/<%=restaurant._doc._id%>">
            <%=restaurant._doc.Name%>
          </a></h1>
        <div class="postcard__subtitle small">
          <%=restaurant._doc.Address%>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">

          <% if (restaurant._doc.Award !=="Bib Gourmand" ) { %>
            <%= restaurant._doc.Award ? createStarRating(restaurant._doc.Award) : "Michelin rating not available" %>
              <% } else { %>
                <p>
                  <%= restaurant._doc.Award %>
                </p>
                <% } %>
        </div>
        <div class="postcard__preview-txt">
          <%=restaurant._doc.Price%>
        </div>
        <% if (restaurant.averageRating===0) { %>
          <p class="card-text">
            No reviews yet
          </p>
          <% } else { %>
            <div class="postcard__preview-txt">
              <strong>Average Rating:
                <%= restaurant.averageRating %>/5
              </strong>
            </div>
            <% } %>
              <% if (restaurant.averageRating===0 && !restaurant.individualRating) { %>
                <div class="postcard__preview-txt">
                  No reviews to compare to your personal preferences yet.
                </div>
                <% } else if (restaurant.individualRating==="No Rating" ) { %>
                  <div class="postcard__preview-txt">
                    <strong>Please rank your preferences to view your personal rating.</strong>
                  </div>
                  <% } else { %>
                    <div class="postcard__preview-txt">
                      <strong>Personal Rating:
                        <%= restaurant.individualRating %>/5
                      </strong>
                    </div>
                    <% } %>
                      <ul class="postcard__tagbox">
                        <li class="tag__item">
                          <%=restaurant._doc.DietaryRestrictions.toUpperCase()%>
                        </li>
                        <li class="tag__item">
                          <%=restaurant._doc.Cuisine%>
                        </li>
                        <li class="tag__item">
                          <%=restaurant._doc.Price%>
                        </li>
                      </ul>
      </div>
    </article>
    <% } else { %>
      <article class="postcard light red">
        <a class="postcard__img_link" href="#">
          <img class="postcard__img" src="https://images.pexels.com/photos/2228568/pexels-photo-2228568.jpeg"
            alt="Sad Face" />
        </a>
        <div class="postcard__text t-dark">
          <h1 class="postcard__title red"><a href="#">
              No Restaurants Found
            </a></h1>
          <div class="postcard__bar"></div>
          <div class="postcard__preview-txt">
            It seems we were unable to find any restaurants that match your search criteria. We apologize for the
            inconvenience. <a href="/">Please try again.</a>
          </div>
        </div>
      </article>
      <% } %>